# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-airbyte
astronomer-cosmos
dbt-postgres
pendulum
python-dotenv
astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy